<!DOCTYPE html>
<html lang="en">

<!--
  ____  _       _          _ _       _   _    _ _                           _
 / __ \| |     | |        | | |     | | | |  | (_)                         | |
| |  | | |__   | |__   ___| | | ___ | | | |__| |_ _ __ ___   _ __ ___   ___| |
| |  | | '_ \  | '_ \ / _ \ | |/ _ \| | |  __  | | '__/ _ \ | '_ ` _ \ / _ \ |
| |__| | | | | | | | |  __/ | | (_) |_| | |  | | | | |  __/ | | | | | |  __/_|
 \____/|_| |_| |_| |_|\___|_|_|\___/(_) |_|  |_|_|_|  \___| |_| |_| |_|\___(_)
-->

<head>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o)
        , m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-79715929-1', 'auto');
    ga('send', 'pageview');
  </script>
  <title>Stuart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="portfolioApp" ng-controller="portfolioProjects" ng-cloak>
  <div class="navbar-fixed hide-on-large-only">
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">W.I.P.</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-sm">
          <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
          <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
          <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
        </ul>
        <ul class="side-nav fixed" id="mobile-demo">
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#resume">Resume</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="navbar-fixed hide-on-small-only">
    <div class="nav-wrapper">
      <ul class="side-nav fixed blue-grey darken-4" id="mobile-demo">
        <li><a href="#about" class="white-text center-align">About</a></li>
        <li><a href="#projects" class="white-text center-align">Projects</a></li>
        <li><a href="#resume" class="white-text center-align">Resume</a></li>
        <li><a href="#modal1" class="white-text center-align modal-trigger">Contact</a></li>
      </ul>
    </div>
  </div>

  <main>
    <div class="wrap">
      <pre>
        <span class="text">
                      "<span class="text">Stuart Smith</span>": {
                        "<span class="text">Email</span>": "<a href="mailto:stuartsmith@outlook.com">stuartsmith@outlook.com</a>",
                        "<span class="text">GitHub</span>": "<a href="https://github.com/mastrgamr" target="_blank">mastrgamr</a>",
                        "<span class="text">Twitter</span>": "<a href="https://twitter.com/mastrgamr" target="_blank">@mastrgamr</a>",
                        "<span class="text">LinkedIn</span>": "<a href="https://linkedin.com/in/stuartesmith" target="_blank">stuartesmith</a>",
                        "<span class="text">Favorite Tech</span>": [
                          "<span class="text">Java</span>",
                          "<span class="text">Android</span>",
                          "<span class="text">Javascript</span>",
                          "<span class="text">NodeJS</span>"
                        ]
                      }
          </span>
        </pre>
    </div>

    <!-- ABOUT SECTION -->
    <div id="about" class="scrollspy">
      <h3 class="section-title center-align">About</h3>
    </div>
    <div class="center-align blue-grey darken-3">
      <div>
        <img src="http://gravatar.com/avatar/f77b2a955f419eff58afd4b5c8a40c07.jpg?s=256" style="margin: 25px;" class="circle responsive-img z-depth-2" />
      </div>
      <p class="about-info">
        Hi, my name's Stuart, and I like to code. I'm a senior college student persuing a career in Software Engineering. My personal projects deal with a range of languages and framworks including Java, Swift and Javascript. Check out my <a href="https://github.com/mastrgamr" target="_blank">Github</a>!
      </p>
    </div>

    <!-- PROJECT INFORMATIONS SECTION -->
    <div id="projects" class="scrollspy">
      <h3 class="section-title center-align">Projects</h3>
    </div>

    <!-- TODO/FIXME: GET the fucking images to show while in ng-repeat!!!! -->
    <div class="parallax-container hide-on-small-only">
      <div class="parallax">
        <img ng-src="{{rows[0].imageurl}}" />
      </div>
    </div>
    <div class="section blue-grey darken-3">
      <div class="row project-info">
        <h2>{{rows[0].name}}</h2>
        <h5>{{rows[0].time}}</h5>
        <center>
          <p>{{rows[0].description}}</p>
          <span ng-repeat="tech in rows[0].tech" class="label label-badge">
              {{tech}}
            </span>
        </center>

        <ul class="collection">
          <li class="collection-item blue-grey darken-2" ng-repeat="role in rows[0].roles">
            {{role}}
          </li>
        </ul>
      </div>
    </div>

    <div class="parallax-container hide-on-small-only">
      <div class="parallax">
        <img ng-src="{{rows[1].imageurl}}" />
      </div>
    </div>
    <div class="section blue-grey darken-3">
      <div class="row project-info">
        <h2>{{rows[1].name}}</h2>
        <h5>{{rows[1].time}}</h5>
        <center>
          <p>{{rows[1].description}}</p>
          <span ng-repeat="tech in rows[1].tech" class="label label-badge">
              {{tech}}
            </span>
        </center>

        <ul class="collection">
          <li class="collection-item blue-grey darken-2" ng-repeat="role in rows[1].roles">
            {{role}}
          </li>
        </ul>
      </div>
    </div>

    <div class="parallax-container hide-on-small-only">
      <div class="parallax">
        <img ng-src="{{rows[2].imageurl}}" />
      </div>
    </div>
    <div class="section blue-grey darken-3">
      <div class="row project-info">
        <h2>{{rows[2].name}}</h2>
        <h5>{{rows[2].time}}</h5>
        <center>
          <p>{{rows[2].description}}</p>
          <span ng-repeat="tech in rows[2].tech" class="label label-badge">
              {{tech}}
            </span>
        </center>

        <ul class="collection">
          <li class="collection-item blue-grey darken-2" ng-repeat="role in rows[2].roles">
            {{role}}
          </li>
        </ul>
      </div>
    </div>

    <div id="resume" class="scrollspy">
      <h3 class="section-title center-align">Resume</h3>
    </div>
  </main>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="black-text">Email</h4>
      <p class="black-text">Bacon Ipsum</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn">Send</a>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.js-fullheight').css('height', $(window).height());
      $('.parallax').parallax();
      $('.button-collapse').sideNav({
        menuWidth: 240, // Default is 240
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
      });
      $('.scrollspy').scrollSpy();
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .7, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 300 // Transition out duration
      });
    });
  </script>
</body>

</html>