* {
  box-sizing: border-box;
}

html, body, .container-fluid {
  height: 100%;
}

body {
  padding-top: 50px;
  background-color: #EEE;
}

a:link, a:visited, a:active {
    color: #F1F1F1;
    text-decoration: none;
}

h3 {
    color: #FFF;
    font-weight: bold;
}

.navbar {
  border-bottom: 3px solid #BBBBBB;
  background: #F1F1F1;
}

.navbar-brand {
  font-weight: bold;
}

#sidenav {
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 50px;
    height: 100%;
    background: #F1F1F1;
    border-right: 2px solid #BBBBBB;
    white-space: nowrap;
    overflow-x: hidden;
    padding-left: 15px;
}

.port-row {
  height:50%;
}

.port-col {
  height: 100%;
  padding:15px;
  background-image: url("https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11325965_114532128881729_1042379851_n.jpg");
  background-size: cover;
}

.port-col-1 {
    background-image: url("images/screens/tp-screen.png");
    background-color: #AAAAAA;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.port-col-2 {
    background-image: url("images/screens/checkers2p-screen.png");
    background-size: cover;
}
.port-col-3 {
    background-image: url("images/screens/pongwar-screen.png");
    background-size: cover;
}

.sidenav-row {
    margin-bottom: 15px;
}
.sidenav-col {
    display: flex;
}

.sidenav-bot {
    bottom: 100px;
}

 .divider-row {
     margin-bottom: 15px;
 }

.project-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 2px 2px 2px black;
}
.project-desc {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 3px black;
}

.project-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
  width: 100%;
  margin-top: 15px;
  color: #888;
}
