* {
  box-sizing: border-box;
}

body {
  padding-top: 70px;
  background-color: #EEE;
}

.navbar {
  border-bottom: 3px solid #BBBBBB;
  background: #EEE;
}

.navbar-brand {
  font-weight: bold;
}

.col-xs-4, .col-md-4 {
  padding:1px;
}

.footer {
  width: 100%;
  color: #888;
}
